{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "no-trailing-spaces": "off",
    "object-curly-spacing": "off",
    "no-debugger": "off"
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "google"]
}
